{{ define "base" }}
{{ $basePackage := .Package }}
package {{ $basePackage }}

import (
	"net/http"
	"strconv"
	"fmt"
	"slices"
	"net/mail"
)
{{ range .Objects }}
{{ template "typedef" . }}
{{ template "constructor" . }}
{{ end }}

{{ end }}

