{{ define "string" }}
	x.{{ .Name }} = r.FormValue("{{ .Name }}")
	{{ if  .Validators.MinLen }}{{ template "min_len" . }}{{ end }}
	{{ if  .Validators.MaxLen }}{{ template "max_len" . }}{{ end }}
	{{ if  .Validators.Options }}{{ template "string_options" . }}{{ end }}
	{{ if  .Validators.Email }}{{ template "email" . }}{{ end }}
        {{ if  .Validators.Custom }}{{ template "custom" . }}{{ end }}
{{ end }}
